
<div class="w-full h-screen flex items-center justify-center">
    <div class="w-[400px] h-fit p-6 bg-white rounded-lg shadow border">
      <h3 class="text-xl font-bold mb-4">Update Password</h3>
      <form #updateForm="ngForm" (ngSubmit)="updateUserPassword(updateForm.value)">
        <label for="oldPassword" class="block text-sm font-semibold text-gray-600 mb-1"
          >Old Password:</label
        >
        <input
          type="password"
          id="oldPassword"
          name="oldPassword"
          [(ngModel)]="oldPassword"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        />

        <label for="newPassword" class="block text-sm font-semibold text-gray-600 mb-1"
          >New Password:</label
        >
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          [(ngModel)]="newPassword"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        />

        <label for="confirmPassword" class="block text-sm font-semibold text-gray-600 mb-1"
          >Confirm Password:</label
        >
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="confirmPassword"
          required
          class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
        />
    
        <button
          type="submit"
          [disabled]="updateForm.invalid"
          class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue"
        >
          Update
        </button>
      </form>
    </div>
</div>
